<!DOCTYPE html>
<html>
	<head>
	    <% include ./partials/head %>
	</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <div id="bookList"></div>
    </body>
    <% include ./partials/bookScripts %>
</html>