<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <div id="bookInfo"></div>
         <% if(login) { %> 
		    <form style="text-align: center; font-family: Helvetica; font-size: 1.25em;" action="/submitReview" method="post" id="reviewForm">
		        <label for="review">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review: </label>

		        <input type="radio" name="rating" value="1" checked> 1
		        <input type="radio" name="rating" value="2"> 2
		        <input type="radio" name="rating" value="3"> 3
		        <input type="radio" name="rating" value="4"> 4
		        <input type="radio" name="rating" value="5"> 5<br>

		        <textarea name="review" cols="100" rows="7" id="review" style="display:block; margin-left:auto; margin-right:auto"  form="reviewForm">Enter Review...</textarea>
		        <input id="idForHiding" style="color: green; margin-top: 10px; margin-left: auto; margin-right: 10%" type="submit" value="Submit Review">
		    </form>
   
    	<% } %>
        <div id="bookReviewsList"></div>
    </body>
    <% include ./partials/bookInfoScripts %>
</html>