<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
	<body>
	<header>
		<% include ./partials/header %>
    </header>
    <div id="gameInfo"></div>
	</body>
	<% include ./partials/gameTitleScripts %>
</html>
