<!DOCTYPE html>
<html>
<head>
	<% include ./partials/header %>
</head>
	<body>
	<header>
		<% include ./partials/header %>
		</header>
		<div id="gameList"></div>
	</body>
	<% include ./partials/scripts %>
</html>
