<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
	<body>
	<header>
		<% include ./partials/header %>
    </header>
	<h1 style="text-align: center; font-size: 3.5em; padding-bottom: 2%;"> Latest Games </h1>
    <div id="newGameList"></div>
	</body>
	<% include ./partials/gameScripts %>
</html>
