<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1 style="padding-top: 10vh; font-size: 5em; text-align: center; font-family: Helvetica">MyCritic</h1>
        <h2 style="font-size: 1.23em; text-align: center; font-style: italic; font-family: Helvetica">Movies, music, games, books, ratings</h2>
        <div style="text-align: center; padding-top: 5vh;">
          <a id="button" style="margin-right: 3vh;" class="btn btn-success btn-lg" href="/login">Login</button>
          <a id="button2" class="btn btn-danger btn-lg" href="/register">Register</a></button>
        </div>


        <script>
        $(document).ready(function(){
          $(document.getElementById('button')).hide();
          $(document.getElementById('button2')).hide();
          $("h1").hide().fadeIn(1000);
          $("h2").hide().fadeIn(1000, function() {
            $(document.getElementById('button')).hide().fadeIn(800);
            $(document.getElementById('button2')).hide().fadeIn(800);
          });
        });
        </script>


    </body>
</html>
