<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1>MyCritic</h1>
        <li><a href="register">Register</a></li>
	<li><a href="profile">My Profile</a></li>
	<li><a href="music">Music</a></li>
	<li><a href="movies">Movies</a></li>
	<li><a href="games">Games</a></li>
    </body>
</html>
