<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

	<body style="background-color: #d8d8d8">
        <header>
            <% include ./partials/header %>
        </header>
        <h1 style="font-size: 4em; text-align: center; font-family: Helvetica">MyCritic</h1>
        <h2 style="font-size: 1.23em; text-align: center; font-style: italic; font-family: Helvetica">Movie, Games, Books, and ratings</h2> 
    </body>
</html>
