<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

	<body>
        <header>
            <% include ./partials/header %>
        </header>
     <!--   <h1 style="padding-top: 10vh; font-size: 5em; text-align: center; font-family: Helvetica">MyCritic</h1>  -->
        <h1 style = "padding-top: 10vh; font-family: Georgia, serif; font-size: 4.8em; text-align: center; letter-spacing: 0.2px; word-spacing: -4px; color: #0D870B; font-weight: 700; text-decoration: none; font-style: italic; font-variant: normal;">myCritic</h1>
        <h2 style="font-size: 1.23em; text-align: center; font-style: italic; font-family: Helvetica">Movies, Music, Games, Books, Ratings</h2>
        <div style="text-align: center; padding-top: 5vh;">
          <a style="margin-right: 3vh;" class="btn btn-success btn-lg" href="/login">Login</button>
          <a class="btn btn-danger btn-lg" href="/register">Register</a></button>
        </div>

    </body>
</html>
