<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1 style="font-size: 4em; text-align: center; font-family: Helvetica; padding-top: 10vh;">MyCritic</h1>
        <h2 style="font-size: 1.5em; text-align: center; font-family: Helvetica; padding-bottom: 4vh">Login</h2>



        <form style="text-align: center; font-family: Helvetica; font-size: 1.25em; " action="/login" method="post">
            <label for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</label>
            <input style="margin-bottom: 3vh; padding: 3px 10px; border-radius: 4px; border: 1px solid black;" placeholder="Email" id="email" type="text" name="email"><br>
            <label for="passwword">&nbsp;Password: </label>
            <input style="margin-bottom: 8vh; padding: 3px 10px; border-radius: 4px; border: 1px solid black;" placeholder="Password" id="password" type="password" name="password" required pattern="[a-zA-Z0-9!@#$%^&*_-]{6,16}"title="Password may contain alphanumerics and !@#$%^&*-_ special characters. Must be between 6 and 16 characters" ><br>
            <input type="submit" value="Submit">
        </form>
<!--
        <form action="/login" method="post">
            <p>
            <label for="email">Enter your email: </label>
            <input id="email" type="text" name="email">
            </p>
            <p>
            <label for="password"> Enter password: </label>
            <input id="password" type="password" name="password" required pattern="[a-zA-Z0-9!@#$%^&*_-]{6,16}"title="Password may contain alphanumerics and !@#$%^&*-_ special characters. Must be between 6 and 16 characters" >
            <p>
            <input type="submit" value="OK">
        </form>
    -->
   
        <% if(typeof message != 'undefined') { %>
            <h2><%= message %></h2>
        <% } %>
    </body>
</html>
