<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1>Login</h1>

        <form action="/login" method="post">
            <p>
            <label for="email">Enter your email: </label>
            <input id="email" type="text" name="email">
            </p>
            <p>
            <label for="password"> Enter password: </label>
            <input id="password" type="password" name="password" required pattern="[a-zA-Z0-9!@#$%^&*_-]{6,16}"title="Password may contain alphanumerics and !@#$%^&*-_ special characters. Must be between 6 and 16 characters" >
            <p>
            <input type="submit" value="OK">
        </form>

   
        <% if(typeof message != 'undefined') { %>
            <h2><%= message %></h2>
        <% } %>
    </body>
</html>
