<!DOCTYPE html>
<html>
	<head>
	    <% include ./partials/head %>
	</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <div id="movInfo"></div>
    </body>
    <% include ./partials/movieInfoScripts %>
</html>
