<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1 style="text-align: center; font-size: 3.5em;"> Newest Movies </h1>
        <div id="movieList"></div>
    </body>
    <% include ./partials/movieScripts %>
</html>
