<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <div id="songList"></div>
    </body>
    <% include ./partials/musicScripts %>
</html>
