<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1 style="text-align: center; font-size: 3.5em; padding-bottom: 2%;"> Popular Music </h1>
        <div id="loadingDiv"></div>
        <div id="songList"></div>
    </body>
    <% include ./partials/musicScripts %>
</html>
