<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
	<body>
		<header>
			<% include ./partials/header %>
		</header>
		<h1>MyCritic</h1>
		// need some way to check if user is logged in or not
		<h3>Change your password</h3>
		<form action="/changePassword" method="post">
			<p>
			<label for="email">Enter your email: </label>
			<input id="email" type="text" name="email">
			</p>
			<p>
			<label for="password"> Enter your current password: </label>
			<input id="password" type="password" name="password" required pattern="[a-zA-Z0-9!@#$%^&*_-]{6,16}">
			</p>
			<p>
			<label for="newPassword"> Enter your desired new password: </label>
			<input id="newPassword" type="text" name="newPassword" required pattern="[a-zA-Z0-9!@#$%^&*_-]{6,16}"title="Password may contain alphanumerics and !@#$%^&*-_ special characters. Must be between 6 and 16 characters" >
			<input type="submit" value="OK">
		</form>
