<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
	<body>
		<header>
			<% include ./partials/header %>
		</header>
		<h1>MyCritic</h1>
		// need some way to check if user is logged in or not
		<form action="/
