<!DOCTYPE html>
<html>
    <body>
        <h1>MyCritic</h1>
        <form action="/register" method="post">
            <label for="email">Enter your email: </label>
            <input id="email" type="text" name="email">
            <label for="username"> Enter your desired username: </label>
            <input id="username" type="text" name="username">
            <label for="passwword"> Enter password: </label>
            <input id="password" type="password" name="password">
            <input type="submit" value="OK">
        </form>
        <% if(typeof message != 'undefined') { %>
            <h2><%= message %></h2>
        <% } %>
    </body>
</html>
