<!DOCTYPE html>
<html>
    <body>
        <h1>MyCritic</h1>
        <form action="/register" method="post">
            <label for="email">Enter email: </label>
            <input id="email" type="text" name="email" value="youremail@domain">
            <input type="submit" value="OK">
        </form>
    </body>
</html>
