<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <h1 style="font-size: 4em; text-align: center; font-family: Helvetica; padding-top: 10vh;">MyCritic</h1>
        <h2 style="font-size: 1.5em; text-align: center; font-family: Helvetica; padding-bottom: 4vh">Registration</h2>
        <h2 style="color: #df0000; font-size: 1.23em; text-align: center; font-family: Helvetica; font-style: italic; padding-bottom: 4.5vh">Get access to awesome content and ratings today!</h2>
        <form style="text-align: center; font-family: Helvetica; font-size: 1.25em; " action="/register" method="post">
            <label for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</label>
            <input style="margin-bottom: 3vh; padding: 3px 10px; border-radius: 4px; border: 1px solid black;" placeholder="Email" id="email" type="text" name="email"><br>
            <label for="username">Username: </label>
            <input style="margin-bottom: 3vh; padding: 3px 10px; border-radius: 4px; border: 1px solid black;" placeholder="Username" id="username" type="text" name="username" required pattern="[a-zA-Z0-9]{2,16}" title="Username must be alphanumeric and between 2 and 16 characters" ><br>
            <label for="passwword">&nbsp;Password: </label>
            <input style="margin-bottom: 8vh; padding: 3px 10px; border-radius: 4px; border: 1px solid black;" placeholder="Password" id="password" type="password" name="password" required pattern="[a-zA-Z0-9!@#$%^&*_-]{6,16}"title="Password may contain alphanumerics and !@#$%^&*-_ special characters. Must be between 6 and 16 characters" ><br>
            <input id="anIdForHiding" style="color: red" type="submit" value="Register">
        </form>
        <% if(typeof message != 'undefined') { %>
            <h2><%= message %></h2>
        <% } %>

        <script>

          $(document).ready(function() {
            $(document.getElementById('anIdForHiding')).hide();
          });

          $(document.getElementById('email')).bind('input', function() {
            $(document.getElementById('anIdForHiding')).fadeIn(1000);
          });

          $(document.getElementById('username')).bind('input', function() {
            $(document.getElementById('anIdForHiding')).fadeIn(1000);
          });

          $(document.getElementById('password')).bind('input', function() {
            $(document.getElementById('anIdForHiding')).fadeIn(1000);
          });

        </script>

    </body>
</html>
