<!DOCTYPE html>
<html>
	<head>
	    <% include ./partials/head %>
	</head>
	<body>
        <header>
            <% include ./partials/header %>
            <!---->
        </header>
        <h5 style="display: inline; margin-left:80%">Filter: </h5>
        <select style="margin-right: 1%; display: inline" onchange="change(this.selectedIndex)" id="filterOptions">
            <option selected >No Filter</option>
            <option >Songs</option> 
            <option >Movies</option> 
            <option >Games</option>
            <option >Books</option> 
        </select>
        <div id="searchList"></div>
    <% include ./partials/searchResultsScript %>
    </body>
</html>
