<!DOCTYPE html>
<html>
	<head>
	    <% include ./partials/head %>
	</head>
	<body>
        <header>
            <% include ./partials/header %>
        </header>
        <div id="songInfo"></div><hr>
			 <h2 style="color: green; text-align: center; margin-top: 3%; ">Review this song</h2>
  			<form style="text-align: center; margin-top: 3.5%; font-family: Helvetica; font-size: 1.25em;" action="/submitReview" method="post" id="reviewForm">
  		        <label for="review">Rating: </label>
  				<select name="rating">
  			        <option type="option" value="1"> Terrible!
  			        <option type="option" value="2"> Could have been better?
  			        <option selected type="option" value="3"> Meh..
  			        <option type="option" value="4"> Pretty good song!
  			        <option type="option" value="5"> I LOVE IT!!
  				</select>

  		        <textarea name="review" cols="100" rows="7" id="review" style="width: 40%; display:block; margin-left:auto; margin-top: 1%; margin-right:auto"  form="reviewForm" placeholder="Your comments here.."></textarea>
  		        <input id="idForHiding" style="color: green; margin-top: 2%; margin-left: auto; margin-bottom: 3%;" type="submit" value="Submit Review">
  		    </form><hr>
  			<h2 style="text-align: center; margin-top: 4%; margin-bottom: 3.5%;">User Reviews</h2>

        <div id="songReviewList"></div>
    </body>
    <% include ./partials/songScripts %>
</html>
